* {
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 1.3rem;
    text-align: center;
}

.repair_iphone_11_pro_max,
.repair_iphone_11_pro,
.repair_iphone_11,
.repair_iphone_xs_max,
.repair_iphone_xs,
.repair_iphone_xr,
.repair_iphone_x,
.repair_iphone_8_plus,
.repair_iphone_8,
.repair_iphone_7_plus,
.repair_iphone_7,
.repair_iphone_6s_plus,
.repair_iphone_6s,
.repair_iphone_6_plus,
.repair_iphone_6,
.repair_iphone_se,
.repair_iphone_5s,
.repair_iphone_5c,
.repair_iphone_5,
.repair_iphone_4_4s,
.our_pluses {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.iphone_11_pro_max_img, .repair_iphone_11_pro_max:hover .iphone_11_pro_max_img,
.iphone_11_pro_img, .repair_iphone_11_pro:hover .iphone_11_pro_img,
.iphone_11_img, .repair_iphone_11:hover .iphone_11_img,
.iphone_xs_max_img, .repair_iphone_xs_max:hover .iphone_xs_max_img,
.iphone_xs_img, .repair_iphone_xs:hover .iphone_xs_img,
.iphone_xr_img, .repair_iphone_xr:hover .iphone_xr_img,
.iphone_x_img, .repair_iphone_x:hover .iphone_x_img,
.iphone_8_plus_img, .repair_iphone_8_plus:hover .iphone_8_plus_img,
.iphone_8_img, .repair_iphone_8:hover .iphone_8_img,
.iphone_7_plus_img, .repair_iphone_7_plus:hover .iphone_7_plus_img,
.iphone_7_img, .repair_iphone_7:hover .iphone_7_img,
.iphone_6s_plus_img, .repair_iphone_6s_plus:hover .iphone_6s_plus_img,
.iphone_6s_img, .repair_iphone_6s:hover .iphone_6s_img,
.iphone_6_plus_img, .repair_iphone_6_plus:hover .iphone_6_plus_img,
.iphone_6_img, .repair_iphone_6:hover .iphone_6_img,
.iphone_se_img, .repair_iphone_se:hover .iphone_se_img,
.iphone_5s_img, .repair_iphone_5s:hover .iphone_5s_img,
.iphone_5c_img, .repair_iphone_5c:hover .iphone_5c_img,
.iphone_5_img, .repair_iphone_5:hover .iphone_5_img,
.iphone_4_4s_img, .repair_iphone_4_4s:hover .iphone_4_4s_img {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1.5s;
}

/* ------------------------------------------------------------------------------------------- */

.iphone_11_pro_max_img {
    background-image: url(images/iphone/iphone11promax_broken_300bw.png);
}

.repair_iphone_11_pro_max:hover .iphone_11_pro_max_img {
    background-image: url(images/iphone/iphone11promax_ok_300.png);
}

.iphone_11_pro_img {
    background-image: url(images/iphone/iphone11pro_broken_300bw.png);
}

.repair_iphone_11_pro:hover .iphone_11_pro_img {
    background-image: url(images/iphone/iphone11pro_ok_300.png);
}

.iphone_11_img {
    background-image: url(images/iphone/iphone11_broken_300bw.png);
}

.repair_iphone_11:hover .iphone_11_img {
    background-image: url(images/iphone/iphone11_ok_300.png);
}

.iphone_xs_max_img {
    background-image: url(images/iphone/iphonexs_broken_300bw.png);
}

.repair_iphone_xs_max:hover .iphone_xs_max_img {
    background-image: url(images/iphone/iphonexs_ok_300.png);
}

.iphone_xs_img {
    background-image: url(images/iphone/iphonexs_broken_300bw.png);
}

.repair_iphone_xs:hover .iphone_xs_img {
    background-image: url(images/iphone/iphonexs_ok_300.png);
}

.iphone_xr_img {
    background-image: url(images/iphone/iphonexr_broken_300bw.png);
}

.repair_iphone_xr:hover .iphone_xr_img {
    background-image: url(images/iphone/iphonexr_ok_300.png);
}

.iphone_x_img {
    background-image: url(images/iphone/iphonex_broken_300bw.png);
}

.repair_iphone_x:hover .iphone_x_img {
    background-image: url(images/iphone/iphonex_ok_300.png);
}

.iphone_8_plus_img {
    background-image: url(images/iphone/iphone8plus_broken_300bw.png);
}

.repair_iphone_8_plus:hover .iphone_8_plus_img {
    background-image: url(images/iphone/iphone8plus_ok_300.png);
}

.iphone_8_img {
    background-image: url(images/iphone/iphone8_broken_300bw.png);
}

.repair_iphone_8:hover .iphone_8_img {
    background-image: url(images/iphone/iphone8_ok_300.png);
}

.iphone_7_plus_img {
    background-image: url(images/iphone/iphone7plus_broken_300bw.png);
}

.repair_iphone_7_plus:hover .iphone_7_plus_img {
    background-image: url(images/iphone/iphone7plus_ok_300.png);
}

.iphone_7_img {
    background-image: url(images/iphone/iphone7_broken_300bw.png);
}

.repair_iphone_7:hover .iphone_7_img {
    background-image: url(images/iphone/iphone7_ok_300.png);
}

.iphone_6s_plus_img {
    background-image: url(images/iphone/iphone6splus_broken_300bw.png);
}

.repair_iphone_6s_plus:hover .iphone_6s_plus_img {
    background-image: url(images/iphone/iphone6splus_ok_300.png);
}

.iphone_6s_img {
    background-image: url(images/iphone/iphone6s_broken_300bw.png);
}

.repair_iphone_6s:hover .iphone_6s_img {
    background-image: url(images/iphone/iphone6s_ok_300.png);
}

.iphone_6_plus_img {
    background-image: url(images/iphone/iphone6plus_broken_300bw.png);
}

.repair_iphone_6_plus:hover .iphone_6_plus_img {
    background-image: url(images/iphone/iphone6plus_ok_300.png);
}

.iphone_6_img {
    background-image: url(images/iphone/iphone6_broken_300bw.png);
}

.repair_iphone_6:hover .iphone_6_img {
    background-image: url(images/iphone/iphone6_ok_300.png);
}

.iphone_se_img {
    background-image: url(images/iphone/iphonese_broken_300bw.png);
}

.repair_iphone_se:hover .iphone_se_img {
    background-image: url(images/iphone/iphonese_ok_300.png);
}

.iphone_5s_img {
    background-image: url(images/iphone/iphone5s_broken_300bw.png);
}

.repair_iphone_5s:hover .iphone_5s_img {
    background-image: url(images/iphone/iphone5s_ok_300.png);
}

.iphone_5c_img {
    background-image: url(images/iphone/iphone5c_broken_300bw.png);
}

.repair_iphone_5c:hover .iphone_5c_img {
    background-image: url(images/iphone/iphone5c_ok_300.png);
}

.iphone_5_img {
    background-image: url(images/iphone/iphone5_broken_300bw.png);
}

.repair_iphone_5:hover .iphone_5_img {
    background-image: url(images/iphone/iphone5_ok_300.png);
}

.iphone_4_4s_img {
    background-image: url(images/iphone/iphone4_ok_300.png);
}

.repair_iphone_4_4s:hover .iphone_4_4s_img {
    background-image: url(images/iphone/iphone4s_ok_300.png);
}

/* ------------------------------------------------------------------------------------------- */

.repair_iphone_11_pro_max:hover h2,
.repair_iphone_11_pro:hover h2,
.repair_iphone_11:hover h2,
.repair_iphone_xs_max:hover h2,
.repair_iphone_xs:hover h2,
.repair_iphone_xr:hover h2,
.repair_iphone_x:hover h2,
.repair_iphone_8_plus:hover h2,
.repair_iphone_8:hover h2,
.repair_iphone_7_plus:hover h2,
.repair_iphone_7:hover h2,
.repair_iphone_6s_plus:hover h2,
.repair_iphone_6s:hover h2,
.repair_iphone_6_plus:hover h2,
.repair_iphone_6:hover h2,
.repair_iphone_se:hover h2,
.repair_iphone_5s:hover,
.repair_iphone_5c:hover,
.repair_iphone_5:hover,
.repair_iphone_4_4s:hover {
    color: #61dafb;
    transition: 1.5s;
}

.iphone_11_pro_max,
.iphone_11_pro,
.iphone_11,
.iphone_xs_max,
.iphone_xs,
.iphone_xr,
.iphone_x,
.iphone_8_plus,
.iphone_8,
.iphone_7_plus,
.iphone_7,
.iphone_6s_plus,
.iphone_6s,
.iphone_6_plus,
.iphone_6,
.iphone_se,
.iphone_5s,
.iphone_5c,
.iphone_5,
.iphone_4_4s {
    width: 40%;
}

.quality > img,
.speed > img,
.warranty > img {
    width: 75px;
    height: 75px;
}

.our_pluses h3 {
    color: #fff;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.price_table {
    overflow: auto;
    width: 60%;
 }

.table {
    color: #333333;
    width: 100%;
}

.table th {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background: #61dafb;
    padding: 8px;
    border: 2px solid #035f70;
}

.table tr {
    color: #fff;
    border: 1px solid #035f70;
}

.table tr:hover {
    background: #fff;
    color: black;
    /* font-weight: bold; */
}

.table td {
    font-size: 1.1rem;
    border-left: 2px solid #035f70;
    border-right: 2px solid #035f70;
    padding: 8px;
    text-align: center;
}

.table td:nth-of-type(1) {
    text-align: left;
}