* {
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

.iPad {
    width: 1024px;
    margin: 0 auto;
}

.repair_apple_ipad,
.breakdowns_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* .breakdowns_list {
    margin-top: 10px;
} */

/* .breakdowns_list > ul > li {
    font-size: 1.5rem;
    margin: 5px 0;
} */

.breakdowns_list img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.power_breakdown,
.battery_breakdown,
.charge_breakdown,
.water_breakdown,
.glass_breakdown,
.display_breakdown,
.touch_breakdown,
.body_breakdown,
.speaker_breakdown,
.mic_breakdown,
.home_breakdown,
.camera_breakdown,
.cell_breakdown,
.wifi_breakdown,
.itunes_breakdown {
    position: relative;
    width: 25%;
    margin: 5px 0;
}

.power_description,
.battery_description,
.charge_description,
.water_description,
.glass_description,
.display_description,
.touch_description,
.body_description,
.speaker_description,
.mic_description,
.home_description,
.camera_description,
.cell_description,
.wifi_description,
.itunes_description {
    display: none;
}

.power_breakdown:hover .power_description,
.battery_breakdown:hover .battery_description,
.charge_breakdown:hover .charge_description,
.water_breakdown:hover .water_description,
.glass_breakdown:hover .glass_description,
.display_breakdown:hover .display_description,
.touch_breakdown:hover .touch_description,
.body_breakdown:hover .body_description,
.speaker_breakdown:hover .speaker_description,
.mic_breakdown:hover .mic_description,
.home_breakdown:hover .home_description,
.camera_breakdown:hover .camera_description,
.cell_breakdown:hover .cell_description,
.wifi_breakdown:hover .wifi_description,
.itunes_breakdown:hover .itunes_description {
    display: block;
    position: absolute;
    z-index: 5;
    top: 25px;
    left: 40px;
    background-color: #61dafb;
    color: black;
    border-radius: 5px;
}

.ipad_air_2,
.ipad_air,
.ipad_mini_4,
.ipad_mini_3,
.ipad_mini_2,
.ipad_mini,
.ipad_4,
.ipad_3,
.ipad_2,
.ipad_1 {
    width: 25%;
    margin: 20px 0;
}

.ipad_air_2 > a,
.ipad_air > a,
.ipad_mini_4 > a,
.ipad_mini_3 > a,
.ipad_mini_2 > a,
.ipad_mini > a,
.ipad_4 > a,
.ipad_3 > a,
.ipad_2 > a,
.ipad_1 > a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.ipad_air_2 > a:hover,
.ipad_air > a:hover,
.ipad_mini_4 > a:hover,
.ipad_mini_3 > a:hover,
.ipad_mini_2 > a:hover,
.ipad_mini > a:hover,
.ipad_4 > a:hover,
.ipad_3 > a:hover,
.ipad_2 > a:hover,
.ipad_1 > a:hover {
    color: #61dafb;
    transition: 0.5s;
}

.ipad_air_2_img, .ipad_air_2:hover .ipad_air_2_img,
.ipad_air_img, .ipad_air:hover .ipad_air_img,
.ipad_mini_4_img, .ipad_mini_4:hover .ipad_mini_4_img,
.ipad_mini_3_img, .ipad_mini_3:hover .ipad_mini_3_img,
.ipad_mini_2_img, .ipad_mini_2:hover .ipad_mini_2_img,
.ipad_mini_img, .ipad_mini:hover .ipad_mini_img,
.ipad_4_img, .ipad_4:hover .ipad_4_img,
.ipad_3_img, .ipad_3:hover .ipad_3_img,
.ipad_2_img, .ipad_2:hover .ipad_2_img,
.ipad_1_img, .ipad_1:hover .ipad_1_img {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1.5s;
}

/* .ipad_air_2_img {
    background-image: url(images/ipad/ipadair2_broken_255bw.png);
}

.ipad_air_2:hover .ipad_air_2_img {
    background-image: url(images/ipad/ipadair2_ok_255.png);
}

.ipad_air_img {
    background-image: url(images/ipad/ipadair_broken_255bw.png);
}

.ipad_air:hover .ipad_air_img {
    background-image: url(images/ipad/ipadair_ok_255.png);
}

.ipad_mini_4_img {
    background-image: url(images/ipad/ipadmini4_broken_200bw.png);
}

.ipad_mini_4:hover .ipad_mini_4_img {
    background-image: url(images/ipad/ipadmini4_ok_200.png);
}

.ipad_mini_3_img {
    background-image: url(images/ipad/ipadmini3_broken_200bw.png);
}

.ipad_mini_3:hover .ipad_mini_3_img {
    background-image: url(images/ipad/ipadmini3_ok_200.png);
}

.ipad_mini_2_img {
    background-image: url(images/ipad/ipadmini2_broken_200bw.png);
}

.ipad_mini_2:hover .ipad_mini_2_img {
    background-image: url(images/ipad/ipadmini2_ok_200.png);
}

.ipad_mini_img {
    background-image: url(images/ipad/ipadmini_broken_200bw.png);
}

.ipad_mini:hover .ipad_mini_img {
    background-image: url(images/ipad/ipadmini_ok_200.png);
}

.ipad_4_img {
    background-image: url(images/ipad/ipad4_broken_255bw.png);
}

.ipad_4:hover .ipad_4_img {
    background-image: url(images/ipad/ipad4_ok_255.png);
}

.ipad_3_img {
    background-image: url(images/ipad/ipad3_broken_255bw.png);
}

.ipad_3:hover .ipad_3_img {
    background-image: url(images/ipad/ipad3_ok_255.png);
}

.ipad_2_img {
    background-image: url(images/ipad/ipad2_broken_255bw.png);
}

.ipad_2:hover .ipad_2_img {
    background-image: url(images/ipad/ipad2_ok_255.png);
}

.ipad_1_img {
    background-image: url(images/ipad/ipad1_broken_255bw.png);
}

.ipad_1:hover .ipad_1_img {
    background-image: url(images/ipad/ipad1_ok_255.png);
} */