* {
    box-sizing: border-box;
}

.repair_apple {
    width: 100%;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

.repair_iphone, 
.repair_ipad,
.repair_watch,
.repair_macbook {
    width: 50%;
}

.repair_iphone > a,
.repair_ipad > a,
.repair_watch > a,
.repair_macbook > a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.repair_iphone > a:hover,
.repair_ipad > a:hover,
.repair_watch > a:hover,
.repair_macbook > a:hover {
    color: #61dafb;
    transition: 0.5s;
}

.repair_iphone_img {
    width: 100%;
    height: 300px;
    background-image: url(images/iphone/iphone11promax_broken_300bw.png);
    background-position: center;
    background-repeat: no-repeat;
}

.repair_iphone:hover .repair_iphone_img {
    background-image: url(images/iphone/iphone11promax_ok_300.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: 1.5s;
}

.repair_ipad_img {
    width: 100%;
    height: 300px;
    background-image: url(images/iphone/ipadpro12_broken_300bw.png);
    background-position: center;
    background-repeat: no-repeat;
}

.repair_ipad:hover .repair_ipad_img {
    background-image: url(images/iphone/ipadpro12_ok_300.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: 1.5s;
}

.repair_watch_img {
    width: 100%;
    height: 300px;
    background-image: url(images/iphone/watch_broken_300bw.png);
    background-position: center;
    background-repeat: no-repeat;
}

.repair_watch:hover .repair_watch_img {
    background-image: url(images/iphone/watch_ok_300.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: 1.5s;
}

.repair_macbook_img {
    width: 100%;
    height: 300px;
    background-image: url(images/iphone/macbookpro2016_broken_300bw.png);
    background-position: center;
    background-repeat: no-repeat;
}

.repair_macbook:hover .repair_macbook_img {
    background-image: url(images/iphone/macbookpro2016_ok_300.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: 1.5s;
}