* {
    box-sizing: border-box;
}

body {
    /* background-color: black; */
    width: 100%;
    font-family: 'Jura', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 20;
}

li {
    list-style: none;
}

.head {
    width: 980px;
    height: 100px;
    margin: 0 auto;
    background-color: #035f70;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head > a {
    text-decoration: none;
    color: pink;
    font-size: 3rem;
    font-weight: bold;
}

.head > img {
    width: 100px;
    height: 100px;
}

.head > h2 {
    font-weight: bold;
    font-size: 1.3rem;
}

.menu {
    width: 980px;
    margin: 0 auto;
    background-color: pink;
}

main{
    width: 980px;
    margin: 0 auto;
    border: 4px ridge #035f70;
    background-color: #fff;
}

.main-menu {
    display: flex;
}

.main-menu > li {
    width: 16.66%;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.1rem;
}

.main-menu > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.sub-menu-cont > li > a > img {
    width: 20px;
    height: 20px;
}

.sub-menu-cont > li > a {
    text-decoration: none;
    color: black;
}

.sub-menu-repair, .sub-menu-cont, .repair-apple  {
    display: none;
}

.main-menu > li:hover .sub-menu-repair, .main-menu > li:hover .sub-menu-cont, .sub-menu-repair > li:hover .repair-apple {
    display: block;
    position: absolute;
}

.repair-apple {
    top: 0;
    left: 163px;
}

.sub-menu-repair > li, .sub-menu-cont > li, .repair-apple > li {
    border: 1px solid black;
    background-color: pink;
    width: 163px;
}

.sub-menu-repair > li > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
}

.main-menu > li:hover, .sub-menu-repair > li:hover, .main-menu > li:hover, .sub-menu-cont > li:hover, .repair-apple > li:hover {
    background-color: #fff;
    transition: 0.7s;
}

p {
    font-size: 40px;
}

.cont-phones > li > img, h3 > img, #clock1, #clock2 {
    width: 20px;
    height: 20px;
}

.cont-phones > li, .address > li {
    font-weight: bold;
    font-size: 1.1rem;
}

.address > li > a {
    text-decoration: none;
    color: black;
}

#contacts {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.graph {
    display: inline-block;
    font-size: 1.3rem;
}

.bold {
    font-weight: bold;
    font-size: 1.3rem;
}

.cont-info {
    display: flex;
    justify-content: space-around;
}

#map_pointer {
    width: 22px;
    height: 22px;
}

#email {
    width: 22px;
    height: 15px;
}

.info > h2 {
    margin: 20px 0 5px 0;
}

#gradient
{
  width: 100%;
  height: 100%;
}

.repair-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.repair, .repair-iphone, .repair-ipad, .repair-ipod, .repair-watch, .repair-macbook {
    border: 1px solid black;
    width: 242px;
}

.repair-iphone {
    background-image: url(repair_iphone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}